@import "tailwindcss";

:root {
  --header-height: 4.5rem;
  --container-px: 20px;

  /* matches lg breakpoint */
  @media (min-width: 64rem) {
    --header-height: 5.25rem;
  }
}

@theme {
  --font-sans: "DM Sans", sans-serif;

  --color-neutral-*: initial;

  --color-neutral-300: #c1d0e2;
  --color-neutral-500: #1d1f2e;
  --color-neutral-600: #161a31;
  --color-neutral-700: #0c0e1d;
  --color-neutral-800: #04071c;
  --color-neutral-900: #000212;

  --color-primary: #523ae7;
  --color-secondary: #af87ff;
}

@layer base {
  html.lock-scroll {
    overflow-y: hidden;
  }

  body {
    font-family: var(--font-sans);
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-300);
    letter-spacing: 0.02em;
  }

  a,
  button:not(:disabled) {
    cursor: pointer;
  }

  summary {
    list-style: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }
}

@layer components {
  .gradient {
    background: linear-gradient(var(--color-white), var(--color-secondary));
    color: transparent;
    background-clip: text;
  }

  .typography-1 {
    @apply text-5xl uppercase lg:text-[4.25rem]/[1.1];
  }

  .typography-2 {
    @apply text-4xl uppercase lg:text-5xl/[1.3];
  }

  .typography-3 {
    @apply text-3xl uppercase lg:text-[2rem];
  }

  .section {
    scroll-margin-top: calc(var(--header-height) + 1rem);
  }
}

@utility container {
  --container-width: 80rem;

  width: 100%;
  max-width: calc(var(--container-width) + var(--container-px) * 2);
  padding-inline: var(--container-px);
  margin: 0 auto;
}
