---
import ArrowIcon from "@assets/icons/arrow.svg";
---

<section class="section">
  <div class="container">
    <h2 class="gradient typography-2 mb-20">Tangible business benefit</h2>

    <div class="relative flex w-full snap-x gap-6 overflow-x-auto pb-14">
      <article class="shrink-0 snap-center">
        <div class="flex gap-12">
          <p class="max-w-[300px] text-[1.375rem]/9.5">
            Implementing robust cybersecurity measures significantly reduces
            downtime costs by preventing system breaches and service
            interruptions.
          </p>

          <div>
            <div
              class="rounded-3xl border border-neutral-500 bg-neutral-700 p-8"
            >
              <p class="text-primary text-xl font-bold">01/</p>
              <h3>Reduced Downtime Costs</h3>

              <a
                href="#"
                class="bg-primary inline-flex size-[4.375rem] items-center justify-center rounded-full"
              >
                <ArrowIcon class="-rotate-45" />

                <span class="sr-only">
                  Read more about reducing Downtime Costs
                </span>
              </a>
            </div>
          </div>
        </div>
      </article>

      <article class="shrink-0 snap-center">
        <p>
          Implementing robust cybersecurity measures significantly reduces
          downtime costs by preventing system breaches and service
          interruptions.
        </p>

        <div>11</div>
      </article>

      <article class="shrink-0 snap-center">
        <p>
          Implementing robust cybersecurity measures significantly reduces
          downtime costs by preventing system breaches and service
          interruptions.
        </p>

        <div>11</div>
      </article>

      <article class="shrink-0 snap-center">
        <p>
          Implementing robust cybersecurity measures significantly reduces
          downtime costs by preventing system breaches and service
          interruptions.
        </p>

        <div>11</div>
      </article>
    </div>

    <div class="flex">
      <button
        class="inline-flex size-[3.125rem] items-center justify-center rounded-full border border-neutral-500 bg-neutral-700"
        aria-label="prev"
      >
        <ArrowIcon class="rotate-180" />
      </button>

      <button
        class="inline-flex size-[3.125rem] items-center justify-center rounded-full border border-neutral-500 bg-neutral-700"
        aria-label="next"
      >
        <ArrowIcon />
      </button>
    </div>
  </div>
</section>
