---
import { Image } from "astro:assets";

import shapeIcon from "@assets/icons/shape.svg";
import AnimatedPlusIcon from "@assets/icons/animated-plus.svg";

const faq = [
  {
    summary: "Input & Configuration",
    content:
      "The organization submits its cyber plan or completes a guided form, allowing the system to map its infrastructure and risk profile.",
  },
  {
    summary: "AI-Generated Scenario",
    content:
      "Based on this input, AI creates a realistic, industry-specific attack simulation—such as ransomware, phishing, insider threat, or DDoS—tailored to the organization's vulnerabilities.",
  },
  {
    summary: "Live Crisis Simulation",
    content:
      "In real time, the user’s team enters the simulation (via desktop or VR) and receives alerts, makes decisions, interacts with AI-powered personas (hackers, executives, media), and manages the unfolding crisis under pressure.",
  },
  {
    summary: "Performance Tracking & Scoring",
    content:
      "Every decision is monitored. The platform evaluates technical responses, team coordination, communication effectiveness, and timing—using real-time dashboards and scoring metrics.",
  },
  {
    summary: "Post-Simulation Insights",
    content:
      "A detailed report is instantly generated, offering feedback, benchmarks, risk assessments, and personalized recommendations to improve cyber resilience",
  },
];
---

<section class="section">
  <div class="container">
    <h2 class="typography-2 gradient mb-6 max-w-md">
      How cybertactik delivers results
    </h2>

    <p class="mb-6 max-w-80 font-medium">
      5 Steps to Outsmart Cyber Chaos and Ensure Business Continuity
    </p>

    <div class="grid gap-10 lg:grid-cols-[1fr_1.5fr]">
      <div class="space-y-4">
        {
          faq.map(({ content, summary }) => (
            <details class="group rounded-3xl border border-neutral-500 bg-neutral-700">
              <summary class="flex cursor-pointer items-center justify-between px-8 py-6 text-xl">
                {summary}

                <AnimatedPlusIcon />
              </summary>

              <p class="px-8 pb-6 text-lg">{content}</p>
            </details>
          ))
        }
      </div>

      <div>
        <div
          class="w-fit overflow-hidden rounded-3xl border border-neutral-500 bg-neutral-700"
        >
          <Image src={shapeIcon} alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
