---
import Button from "../ui/Button.astro";
---

<section class="section min-h-40 text-center">
  <div class="container">
    <h2 class="gradient typography-2 mb-2">Get Your No-Obligation Estimate!</h2>
    <Button href="#">Get a Free Quote Now</Button>
  </div>
</section>
