---
import Button from "@ui/Button.astro";
import Modal from "@ui/Modal.astro";
---

<section class="section pt-40 pb-[29.875rem]" id="hero">
  <div class="container">
    <div class="mx-auto flex max-w-3xl flex-col items-center gap-6 text-center">
      <h1 class="typography-1 gradient">
        Next GEN AI powered Cyber Crisis Simulator
      </h1>

      <p class="max-w-3xl text-[1.375rem] font-medium">
        What if your next cyberattack felt familiar because you’ve already
        beaten it?
      </p>

      <Button id="video-modal-trigger" variant="outline" as="button">
        Let's get started
      </Button>

      <Modal dialogId="video-modal">
        <video
          class="video"
          autoplay
          playsinline
          controls
          muted
          src="/video.mp4"></video>
      </Modal>
    </div>
  </div>
</section>

<script>
  import { createModal } from "@/helpers/modal";

  const video = document.querySelector(".video") as HTMLVideoElement;

  const trigger = document.querySelector(
    "#video-modal-trigger",
  ) as HTMLButtonElement;

  const modal = document.querySelector("#video-modal") as HTMLDialogElement;

  function onClose() {
    video.pause();
    video.currentTime = 0;
  }

  createModal({
    trigger,
    modal,
    onClose,
  });
</script>

<style>
  #hero {
    background:
      url("/images/hero-bg.png") bottom / cover no-repeat,
      url("/images/hero-pattern.png") center;

    /* matches lg breakpoint */
    @media (min-width: 64rem) {
      background-size: auto;
    }
  }
</style>
