---
import Layout from "@/layouts/Layout.astro";

import Partners from "@/components/sections/Partners/Partners.astro";
import Technologies from "@/components/sections/Technologies/Technologies.astro";
import Delivery from "@/components/sections/Delivery.astro";
import Why from "@/components/sections/Why.astro";
import Features from "@/components/sections/Features/Features.astro";
import About from "@/components/sections/About.astro";
import Hero from "@/components/sections/Hero.astro";
import Benefits from "@/components/sections/Benefits/Benefits.astro";
---

<Layout>
  <div class="space-y-20 pb-20">
    <Hero />
    <About />
    <Features />
    <Why />
    <Delivery />
    <Benefits />
    <Partners />
    <Technologies />
  </div>
</Layout>
