---
interface Props {
  title: string;
  description: string;
  icon: any;
}

const { title, description, icon: Icon } = Astro.props;
---

<li class="rounded-3xl border border-[#1D1F2E] bg-[#0C0E1D] px-6 py-4">
  <div class="mb-2 flex items-center gap-x-2">
    <div
      class="flex size-[2.625rem] items-center justify-center rounded-xl bg-[#161A31]"
    >
      <Icon />
    </div>

    <h3 class="gradient text-xl font-medium">{title}</h3>
  </div>

  <p class="text-lg">
    {description}
  </p>
</li>
