---
import FooterHelpBanner from "./FooterHelpBanner.astro";
import FooterScrollButton from "./FooterScrollButton.astro";

import InstagramIcon from "@assets/icons/instagram.svg";
import LinkedinIcon from "@assets/icons/linkedin.svg";

const links = [
  {
    href: "#",
    label: "Home",
  },
  {
    href: "#",
    label: "Contact Us",
  },
  {
    href: "#",
    label: "Cyber Culture",
  },
  {
    href: "#",
    label: "Cyber Resilience",
  },
  {
    href: "#",
    label: "Cyber Security",
  },
  {
    href: "#",
    label: "Cyber Performance",
  },
  {
    href: "#",
    label: "Privacy Policy",
  },
  {
    href: "#",
    label: "Terms of Use",
  },
];
---

<footer class="border-t border-neutral-500 py-10 md:py-20">
  <div class="container">
    <div class="flex flex-col gap-10 lg:flex-row lg:justify-between">
      <div class="lg:max-w-md">
        <h2 class="gradient typography-3 mb-6 lg:mb-12">Cybertactik</h2>

        <ul class="flex flex-wrap gap-x-5.5 gap-y-3.5 text-lg">
          {
            links.map((link) => (
              <li class="after:ml-5 after:text-white after:content-['/'] last:after:hidden">
                <a class="transition-colors hover:text-white" href={link.href}>
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div id="bg-gradient" class="relative w-fit space-y-10">
        <div>
          <p class="mb-2 text-sm tracking-normal">Contact Us</p>
          <a class="typography-3 gradient" href="tel:+18919891191"
            >+1 891 989-11-91</a
          >
        </div>

        <div
          class="flex flex-wrap gap-x-20 gap-y-10 lg:justify-between lg:gap-x-60"
        >
          <div>
            <p class="mb-4 text-sm tracking-normal">Follow Us</p>

            <div class="flex gap-x-8">
              <a href="#" aria-label="instagram">
                <InstagramIcon />
              </a>

              <a href="#" aria-label="linkedin">
                <LinkedinIcon />
              </a>
            </div>
          </div>

          <div>
            <p class="mb-2 text-sm tracking-normal">Email</p>
            <a
              class="text-sm transition-colors hover:text-white"
              href="mailto:hello@cybertactic.com">hello@cybertactic.com</a
            >
          </div>
        </div>

        <div>
          <p class="mb-2 text-sm tracking-normal">Mo—Fr</p>
          <p class="typography-3 gradient">9am—6pm</p>
        </div>

        <p class="text-xs">© {new Date().getFullYear()} — Copyright</p>
      </div>
    </div>

    <div class="mt-11 space-y-4 lg:col-span-full">
      <FooterScrollButton />
      <FooterHelpBanner />
    </div>
  </div>
</footer>

<style>
  #bg-gradient::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      56.11deg,
      rgba(217, 217, 217, 0) 8.11%,
      #28217c 69.95%
    );
    filter: blur(300px);
    z-index: -1;
  }
</style>
