---
import ArrowIcon from "@assets/icons/arrow.svg";
---

<button
  class="group rounded-full"
  id="scroll-button"
  aria-label="scroll to top"
>
  <span
    class="inline-flex size-[50px] items-center justify-center rounded-full border border-neutral-500 bg-neutral-700 transition-transform group-hover:-translate-y-1"
  >
    <ArrowIcon class="-rotate-90" />
  </span>
</button>

<script>
  import { scrollTo } from "@/helpers/scroll";

  document.querySelector("#scroll-button")?.addEventListener("click", () => {
    scrollTo("#hero");
  });
</script>
