---
import ArrowIcon from "@assets/icons/arrow.svg";
---

<div
  class="flex flex-wrap items-center justify-between gap-8 rounded-2xl bg-neutral-800 px-12 py-8 pr-24"
>
  <div class="max-w-2xl">
    <h2 class="gradient typography-3 mb-2">Do you need help?</h2>

    <p>
      We will provide detailed information about our services, types of work,
      and top projects. We will calculate the cost and prepare a commercial
      proposal.
    </p>
  </div>

  <a
    href="#"
    class="gradient group inline-flex shrink-0 items-center gap-x-6 text-lg font-bold"
  >
    Get consultation

    <ArrowIcon class="transition-transform group-hover:translate-x-0.5" />
  </a>
</div>
