---
import Button from "@ui/Button.astro";
---

<Button href="/pitch-presentation.pdf" target="_blank" variant="outline">
    Investors Interest
</Button>

<Button href="https://www.brainstormcyber.com/en/contact" target="_blank">Contact us</Button>
