---
const { title, num, imageSrc } = Astro.props;

import ArrowIcon from "@assets/icons/arrow.svg";
---

<article class="card relative w-xs md:w-md lg:w-lg">
  <img src={imageSrc} width="740" height="540" alt="" />

  <div
    class="relative mx-4 mt-[-3rem] flex flex-col rounded-3xl border border-neutral-500 bg-neutral-700 p-6 md:mt-[-4.5rem] lg:mt-[-8rem] lg:ml-auto lg:min-h-48 lg:w-[85%] lg:p-8"
  >
    <p class="text-primary mb-4 text-lg font-bold">{num}/</p>

    <h3 class="flex-1 text-xl text-white">
      {title}
    </h3>
  </div>
</article>
