---
interface Props {
  variant: "primary" | "outline";
  href?: string;
  as?: "button" | "a";
}

const { variant = "primary", href, as = "a", ...props } = Astro.props;

const base =
  "inline-flex justify-center rounded-full px-6 py-3 text-lg font-bold tracking-normal inset-ring-1 transition-[background-color,box-shadow]";

const variants = {
  primary:
    "bg-primary text-white inset-ring-white/20 hover:bg-primary/80 focus-visible:bg-primary/80",
  outline:
    "bg-transparent text-white inset-ring-white/40 hover:bg-primary hover:inset-ring-white/20 focus:inset-ring-white/20 focus-visible:bg-primary",
};
---

{
  as === "a" ? (
    <a class:list={[base, variants[variant]]} href={href} {...props}>
      <slot />
    </a>
  ) : (
    <button class:list={[base, variants[variant]]} {...props}>
      <slot />
    </button>
  )
}
