---
import CheckIcon from "@assets/icons/check.svg";

interface Props {
  items: string[];
}

const { items } = Astro.props;
---

<ul class="flex flex-col gap-6">
  {
    items.map((item) => (
      <li class="flex gap-x-2 text-lg">
        <CheckIcon class="shrink-0" />
        {item}
      </li>
    ))
  }
</ul>
